[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MMRcaseselection"]
	path = MMRcaseselection
	url = https://github.com/ingorohlfing/mmrcaseselection
[submodule "QCAcluster"]
	path = QCAcluster
	url = https://github.com/ingorohlfing/qcacluster
[submodule "qcapower"]
	path = qcapower
	url = https://github.com/ingorohlfing/qcapower
